// Шрифты
@font-face {
font-family: "OpenSans-Regular";
src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
 }
 @font-face {
font-family: "Roboto-condensed";
src: url("./assets/fonts/Roboto-condensed.ttf") format("truetype");
font-style: normal;
font-weight: normal;
 }
@font-face {
font-family: "Fontfabric";
src: url("./components/PhotosOfInsta/fonts/Fontfabric.otf") format("truetype");
font-style: normal;
font-weight: normal;
 }
body {
  background-color:#f5f5f5;
}
h1,h2 {
  text-align: center;
}
li {
  list-style: none;
}
.photosContainer{
  width:100%;
  margin:auto;
  margin-top: 10%;
}
.divinput{
   width: 40%;
   margin: auto;
   margin-top:5%
}
.divbutton{
  width: 40%;
  margin: auto;
  margin-top:5%;
}
.forInput {
 margin-top: 5%;
 padding: 0px;
 //font-size: 50px;
 border: 10px solid rgba(255, 255, 255, .5);
 @include box-shadow(
 0 2px 10px rgba(0, 0, 0, .25) inset,
 0 2px 10px rgba(0, 0, 0, .25));
 @include border-radius(10px);
 background: rgba(255, 255, 255, .5);
 @include appearance(none);
 outline: none;
 color: #333;
 width: 40%;
 position: absolute;
 left: 0%;
}
/*ШАПКА*/
.title{
  width: auto;
  height: 100px;
  background-color:#e6e6e6;
}
.imgbackground5{
  width: 30%;
  height:100%;
  background: url("./components/PhotosOfInsta/img/background5.svg");
  background-size: 100% 100%;
  float:left;
}
.headerline{
  width: 40%;
  height:100%;
  font-size: 100%;
  font-weight: bold;
  font-family:Fontfabric;
  float:left;
}
.separator{
  width:100%;
  height:2.3% ;
  background: url("./components/PhotosOfInsta/img/separator.svg");
  background-size: 100% 100%;
}
/* Конец шапки*/
/*Регистрация*/
.inputinformation{
  width: auto;
  height: 400px;
  background-color:#f5f5f5;
}
.imgBackground1{
  width: 10%;
  height:100%;
  background: url("./assets/img/background1.svg");
  background-size: 100% 100%;
  float:left;
}
.input{
  width: 80%;
  height:100%;
  font-size: 100%;
  font-weight: bold;
  font-family:Roboto-condensed;
  float:left;
  //border: 1px solid black
}
.titleinput{
  width: 100%;
  height:20%;
//border: 1px solid red
}
.formandimg{
  width:100%;
  height: 79%;
  //border: 1px solid green
}
.leftimg{
  width: 20%;
  height: 100%;
  float: left;
  //border: 1px solid black;
}
.marker{
  width: 100%;
  height: 50%;
  margin-top: 40%;
  //border: 1px solid red;
  background:  url("./assets/img/marker.png");
  background-size: 100% 100%;
  background-position: bottom;
}
.arrow{
  width: 13%;
  height: 95%;
  float: left;
  //border: 1px solid green;
}
.subarrow{
  width: 100%;
  height: 40%;
  //border: 1px solid red;
  background:  url("./assets/img/arrow.svg");
  background-size: 100% 100%;
}
.form{
    width: 38%;
    height: 95%;
    float: left;
    //border: 1px solid red;
}
.inputlinklabel{
    font-size: 100%;
    color: #666666;
    line-height: 200%;
    padding: 0 5%;
}
.inputlink{
display: block;
background: #fff;
border: 1px solid #e8e8e8;
border-radius: 5px;
height: 25%;
outline: none;
font-size: 16px;
width: 100%;
}
div .mainButton  {
  margin-top:10%;
  margin:auto;
}
.imgBackground2{
  width: 9.8%;
  height:100%;
  background: url("./assets/img/background2.svg");
  background-size: 100% 100%;
  float:left;
  //border: 1px solid orange;
}
/*Конец регистрации*/
@media (max-width: 945px) and (min-width: 688px) {
div .mainButton {
  margin-top:10%;
  margin:auto;
}
}
@media (max-width: 688px) and (min-width: 470px) {  /* для разрешения экрана от 470 до 930 пикселей */
/*Шапка*/
  .title{
    width: auto;
    height: 60px;
    background-color:#e6e6e6;
  }
  .imgbackground5{
    width: 30%;
    height:100%;
    background: url("./components/PhotosOfInsta/img/background5.svg");
    background-size: 100% 100%;
    ;
  }
  .headerline{
    width: 40%;
    height:100%;
    font-size: 70%;
    font-weight: bold;
    font-family:Fontfabric;
    float:left;
  }
  /*Конец Шапки*/
  div .mainButton {
    margin-top:5%;
    margin:auto;
  }
}

@media (max-width: 470px) {
/*Шапка*/
  .title{
    width: auto;
    height: 40px;
    background-color:#e6e6e6;
  }
  .imgbackground5{
    width: 30%;
    height:100%;
    background: url("./components/PhotosOfInsta/img/background5.svg");
    background-size: 100% 100%;
    ;
  }
  .headerline{
    width: 40%;
    height:100%;
    font-size: 50%;
    font-weight: bold;
    font-family:Fontfabric;
    float:left;
  }
/* Конец шапки*/
  /*Регистрация*/
  .leftimg{
  display: none;
  }
  .arrow{
  display: none;
  }
  .form{
    width: auto;
    margin-left: 20%;
  }
  .inputlinklabel{
      font-size: 100%;
      color: #666666;
      height: 200%;
      padding: 0 5%;
  }
  div .mainButton {
    margin-top:10%;
    margin:auto;
  }
  /*Конец регистрации*/
}
@media (min-width: 1400px) {
  /* Шапка*/
  .title{
    width: auto;
    height: 100px;
    background-color:#e6e6e6;
  }
  /* Конец Шапки*/
  div .mainButton {
    margin-top:10%;
    margin:auto;
  }
}
